<h1>Usuarios</h1>
<mat-grid-list cols="4" rowHeight="100px">
  
  <mat-grid-tile      
      [colspan]="1"
      [rowspan]="1"
      [style.background]="">   
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field> 
  </mat-grid-tile>

  <mat-grid-tile      
    [colspan]="1"
    [rowspan]="1"
    [style.background]="">    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput>
    </mat-form-field> 
  </mat-grid-tile>

  <mat-grid-tile      
    [colspan]="1"
    [rowspan]="1"
    [style.background]="">    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombres</mat-label>
      <input matInput>
    </mat-form-field> 
  </mat-grid-tile>

  <mat-grid-tile      
    [colspan]="1"
    [rowspan]="1"
    [style.background]="">    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input matInput>
    </mat-form-field> 
  </mat-grid-tile>
</mat-grid-list>


<mat-grid-list cols="2" rowHeight="100px">
  
  <mat-grid-tile      
      [colspan]="1"
      [rowspan]="1"
      [style.background]="">   
      <button mat-raised-button color="primary">Consultar</button>
  </mat-grid-tile>

  <mat-grid-tile      
    [colspan]="1"
    [rowspan]="1"
    [style.background]="">    
    <button mat-raised-button color="primary">Crear</button>
  </mat-grid-tile> 
</mat-grid-list>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    
    <ng-container matColumnDef="Usuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

        
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
    </ng-container>

    
    <ng-container matColumnDef="Nombres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    
    <ng-container matColumnDef="Apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    
    <ng-container matColumnDef="Activo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Activo </th>
      <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

  